/* Customize your main colors in :root variables */
:root {
  --main-background-color: #339687;
  --card-background-color: #067d85;
  --card-background-lighter-color: #89d3b9;
  --main-text-color:#d5a442;
  --title-text-color:#ca98ec;
}

body{
  background-color:var(--main-background-color);
  font-family: 'Patrick Hand', cursive;
  font-size: 1.2em;
}

h2, p{
  color: var(--main-text-color);
}

h3{
font-weight: normal;
}



